@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* ----body---- */
body{
    margin: 0;
    width: 100%;
    height: 100vh;
    color: #4A4A4A;
    background-color: #fffcec;
    font-family: "Playfair Display";
    padding: 0;
    font-weight: 600;
    
}
html{
    scroll-behavior: smooth
}
/* ----/body---- */
/* ----part1---- */
/* ----menu---- */
li{
    display: inline-block;
    padding-left: 28.5px;
    padding-right: 28.5px; 
    
}
a{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #4A4A4A;
}
.ulli{
    z-index: 2;
}

.text{
    max-width: 465px;
    font-size:40px ;
    margin-top: 245px;
    margin-left: 10.5%;
    font-weight: 500;
}
.menu1{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items:center;
    margin-right: 3.25%;
    z-index: 3;
    
}
.menu{
    margin-top: 34px;
    z-index: 2;
    position: static;
    
}
/* ----/menu---- */
/* ----plaj.logo---- */
.logo{
    max-width: 52px;
    max-height: 71px;
    padding: 0;
    z-index: 2;
}
.ff{
    display: flex;
    margin-top: 15px;
    margin-left: 5%;
}
.VT{
    padding-top: 40pxpx;
    font-size: 20px;
    font-weight: bold;
    padding-left: 18px;
    color: #233869;
    width: 181px;
    font-weight: bold;
    z-index: 2;
}
/* ----/plaj.logo---- */
/* ----vina---- */
.linia{
    height: 204px;
    width: 49.3%; 
    background-color: #732F48;
    border-radius: 5px 0px 0px 5px;
    margin-left: 8%;
    margin-top: 380px;
    
}
 .pair{
    display: flex;
     /* flex-wrap: wrap;  */
    justify-content: space-between;
    
} 
 /* ----/vina---- */
 /* ----/patr1---- */
 /* ----part2---- */
hr{
    max-width: 100%;
    margin: 0px 40px;
    justify-content: center;
    height: 0.5;
    background-color: #4A4A4A;
   
   
}
.tovari{
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    margin-top: -18px;
    margin-bottom: -18px;
    color: #732F48;
}
.sap{
    display: block;
    height: 91px;
    margin-top: 275px; 
}
/* ----karta---- */
.nov{
    margin-top: 15px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}
.skid{
    margin-top: 15px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
 .img {
    margin-top: -40%;
    align-items: center;
    overflow: hidden;
    display: flex;
    margin-left: 8%;
}
.img1{
   max-width: 32%;
} 
.img2{
    max-width:28%;
    padding-top: 29px;
    padding-bottom: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}
.burger{
    display: none;
}
.help{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 1212px;
    
}
.new{
    margin: 0px auto;
    max-width: 1212px;
}

.NEW{
    color: #FF0000;
    font-size: 20px;
    position: absolute;
    transform: rotate(-90deg);
    margin-top: 20px;
    margin-left: 306px;
    margin-right: 10px;
    margin-top: 45px;
    display: flex;
    font-weight: bold;
    z-index: 1;
}

.fot{
    padding-top: 29px;
    padding-bottom: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}
.fot1{
    padding-top: 29px;
    padding-bottom: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.ppodkr1{
    max-height: 460px;
    border-bottom:  2px solid #4A4A4A;
    background-color: #D9D9D9;
}
 .karta{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.ski{
    margin-top: 92px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
} 
.cena{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    font-size: 24px;
    margin-top: 16px;
    font-weight:600;

}
.cena1{
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 215px;
    text-decoration: line-through;
    z-index: 1;
}
/* ----/karta---- */
.ff1, .logo1, .VT1{
    display: none;
}
.bukv{
    position: absolute;
    text-transform: uppercase;
    margin-top: 23px;
    margin-left: 20px;
}
.pod{
    font-weight: 500;
    text-decoration: underline;
    color:#732F48;
    cursor: default;
}
.kartaVT{
    min-width: 60%;
    margin-top: 20px;
    height: 300px;
    display: flex;
    margin-right: auto;
    margin-left: auto;

}
.kon{
    max-width: 60%;
    min-width: 300px;
    min-height: 440px;
    background-color: #732F48;
    color:#FFFAE2;
    border-radius: 7px;
    font-size: 24px;
    margin-top: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    
}
.hl{
    color:#FFFAE2;
    font-size: 24px;
    text-decoration: underline;
}
.hl:hover{
    transition: all 1s ease-out;
    color: #ffffff;
}
.fotoB{
    min-width: 100%;
    border-radius: 5px 5px 5px 5px;
}
.text1{
    padding-left: 15px;
}
.hr2{
    margin-top: 58px;
}
.krug1{
    width: 450px;   
    display: block;  
    margin-top: 38px;
    margin-left: 11%;
    margin-right: 10px;
}
.krugVT{
    font-size: 50px;
    font-weight: bold;
    color: #233869;  
    display: flex; 
    margin-top: 160px;
    margin-left: -10px; 
    margin-bottom: 20px;
    padding-right: 20px;
    border-radius: 7px;
}

.IVV{
    font-weight: 300;
    font-size: 35px;
    margin-top: 0px;
    margin-left: 40%;
}
.vino75{
    padding-top: 0px;
    display: flex;
    justify-content: center;
    
}
.cifri{
    display: flex;
    justify-content: center;
    
}
.pos{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    
}
.fun{
    display: flex;
    margin-left: 0;
    margin-right: 15%;
    margin-top: 200px;
}
.pair2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.dop{
    width: 200px;
}
.podi{
    margin-bottom: 100px;
}

.SZ{
    font-weight: 300;
    font-size: 20px;
    max-width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}
.fas{
    margin-bottom: 50px;
}
.strel{
    position: absolute;
    position: fixed;
    background-color: #fff8d4;
    height: 74px;
    width: 74px;
    border-radius: 10000px;
    display: flex;
    margin-left: 10px;
    z-index: 4;
    margin-top:60vh;

}
.st{
    display: flex;
    height: 54px;
    width: 54px;
    margin: auto;
    transform: rotate(-180deg);
}
a:hover{
    transition: all 1s ease-out;
    color: #732F48;
    
}
.img3{
    max-width:28%;
    padding-top: 29px;
    padding-bottom: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}

/* .......form........ */
.otzivi{
    justify-content: center;
    top: -30px;
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    margin: 1% auto;
}

.otzivi .forma_otziva{
    width: 60%;
    margin-top: 20px;
}
.otzivi .forma_otziva label, .otzivi .forma_otziva input, .otzivi .forma_otziva textarea{
    width: 100%;
}
.otzivi label{
    width: 100%;
    font-size: 1.3em;
    
    font-weight: bold;
    color: #ffffff;
}
.otzivi input[type="text"], .otzivi input[type="email"], .otzivi textarea{
    width: 100%;
    padding: 10px 15px;
    margin: 7px 0 15px 0;
    border: none;
    background-color:#cecece;
    color: rgb(0, 0, 0);
    border-radius: 7px;
}
.otzivi textarea{
    height: 100px;
}
.otzivi textarea::placeholder{
    color: rgb(0, 0, 0);
    font-size: 1em;
}
.otzivi input[type="submit"]{
    width: 100%;
    padding: 20px 0;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    margin: 10px 0;
    color: #f7f1f0;
    font-weight: bold;
    transition: background 1s;
    border-radius: 7px;
    border: none;
    font-size: 1.1em;
}
.otzivi input[type="submit"]:hover{
    background-color: #ae5e7b;
    transition: background 1s;
}
/* ....../form...... */
/* ----footer---- */
footer{
    width: 100%;
    height: 200px;
    background-color: #222222;
    justify-content: center;
    align-items: center;
    display: flex;
}
.foot{
    
    font-size: 24px;
    color: #FFFAE2;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
}
/* ----/footer---- */





/* 2karti */
.s{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 1212px;
    margin-left: auto;
    margin-right: auto;
}
.o{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.l{
    min-width:246px ;
    height: 60px;
    border:  2px solid #4A4A4A;
    background-color: #D9D9D9;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
   
}
.II{
    height: 288px;
    border-top:  2px solid #4A4A4A;
    background-color: #D9D9D9;
    border-left:  2px solid #4A4A4A;
    border-right:  2px solid #4A4A4A;
}
.t{
    position: absolute;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 20px;
    max-width: 165px;
    font-weight:500;

}

.t1{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    font-size: 24px;
    margin-top: 15px;
    font-weight:600;
}
/* 2karti */

.fotogr{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.tablo{
    width: 472px;
    height: 664px;
    background-color: #D9D9D9;
    border:  2px solid #4A4A4A;
    margin-left: 20px;
    display: flex;
    align-items: center;
    /* max-height: 664px; */
}
.dvaadop{
    display: flex;
    flex-wrap: wrap;
    max-width: 1212px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-bottom: 40px;
}
.inf{
    width: 40%;
    margin-right: 20px;
    margin-left: 20px;

}
.m{
    margin-top: 0;
    color: #732F48;    
    font-size: 64px;
    font-weight: 900;
    margin-top: -24px;
    position: absolute;
}
.finf{
    margin-top: 184px;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    
}
.vid{
    margin-top: 62px;
    
    font-size: 20px;
    font-weight: 500;
}
.vid1{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    
}
.xxx{
    margin: 0;
}
.vid3{
    font-weight: 800;
    
}
.denigi{
    font-size: 32px;
    font-weight: 500;
    margin-top: 62px;
    
}
.vid2{
    font-weight: 800;
    color: #3a3a3a;
    height: 12px;
    
}

.q{
    transition: none;
    
    outline: none;
    box-shadow: none;
}
q:hover{
    transition: none;
    color: #4A4A4A;
}

.poz{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 1212px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 139px;
}
.f{
    max-width: 32%;
}
.g{
    display: block;
}
.podkarta{
    width:350px ;
    height: 532px;
    border:  2px solid #4A4A4A;
    background-color: #D9D9D9;
   
}
.ppodkr{
    max-height: 460px;
    border-bottom:  2px solid #4A4A4A;
    background-color: #D9D9D9;
    
}
.karta1{
    width:350px ;
    height: 532px;
    background-color: #D9D9D9;
    border:  2px solid #4A4A4A;
    margin-bottom: 69px;
    margin-left: 20px;
    margin-right: 20px;
}
.zebra{
    height: 460px;

}

.karta2{
    
    display: flex;
    width:350px ;
    background-color: #D9D9D9;
    border-top:  2px solid #4A4A4A;
    justify-content: space-between;
}
.foto{
    padding-top: 21px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 32%;
}
/* .w{
    display: flex;
    justify-content: space-between;
    
}
.s1{
    margin-left: 40.5px;
    margin-right: 40.5px;
} */
.xx{
    position: absolute;
    margin-top: -70px;
    display: block;
    margin-left: 20px;
}
.bukv1{
    margin-left: 20px;
    text-transform: uppercase;
    width: 55%;
    height: 100%;
    display: flex;

}
.bukv2{
    margin-left: 20px;
    text-transform: uppercase;
    width: 55%;
    height: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 0px;

}
.cena2{
    margin-top: 20px;
    width: 35%;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    margin-right: 10px;
}
.pros{
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #666666;
}
.sto{
    text-decoration: line-through; 
    color: #666666;
    margin-top: 80px;
    font-size: 20px;
    margin-right: 10px;
}
.k{
    display: flex;
    
}
.poz9{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 1212px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;

}
@media (max-width: 430px){
    .karta1{
        margin-left: 0px;
        margin-right: 0px;
        width: 81%;
        
    }
    .karta2{
        width: 100%;
        align-items: center;
    }

    .poz{
        padding: 0px;
        
    }


}
@media (max-width: 1221px){
    .s1{
        margin: 0px;
    }

}
@media (max-width: 900px){
.dvaadop{
    display: block;
}
.tablo{
    margin-left: auto;
    margin-right: auto;
    width: 81%;
    height:auto ;
}
.fotogr{
    /* max-width: 20%; */
    margin-top: 50px;
    margin-bottom: 50px;
}
.m{
    margin-top: 10px;
    position: static;
}
.inf{
    width: 81%;
    margin-left: auto;
    margin-right: auto;
}

}
/* ----adopt---- */

@media (max-width: 1150px){
    .burger{
        z-index: 7;
        cursor: pointer;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        margin-left:80%;
        margin-top: 50px;
        position: fixed;
       
    }
    .burger span,
    .burger::after,
    .burger::before{
        left: 0;
        transition: all 0.4s;
        background-color: #666666;
        position: absolute;
        height: 10%;
        width: 100%;
    }
    .burger::after,
    .burger::before{
        content:"" ;
    }
    .burger::after{
        bottom: 0;

    }
    .burger::before{
        top: 0;
    }
    .burger span{
        top: 50%;
        transform: scale(1) translate(0%, -50%);
    }
    .menu1{
        z-index: 6;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(16, 16, 16, 0.968);
        justify-content: center;
        transition: all 0.3s ease 0s;
        overflow: auto;
        transform: translate(-100%, 0px);
 
    }
    .menu1.active{
        transform:translate(0%,0%);

    }
    li{
        display: block;
       padding-top: 20px;
    }

    .f{
        color: #ffffff;
    }
    .pod{
        color:#ae5e7b;
    }
    .plaj{
        background-color:#FFFAE2;
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 2;
        margin-top: 0px;
        
    }
    .plaj2{
        background-color:#FFFAE2;
        width: 100%;
        height: 100px;
        z-index: 2;
        margin-top: 0px;
    }
    .plaj3{
        background-color:#FFFAE2;
        width: 100%;
        height: 100px;
        z-index: 2;
        margin-top: 0px;
        position: absolute;
        position: fixed;
    }
    .ff{
        display: none;
        z-index: 3;
    }
/* ---------- */
    .ff1, .logo1, .VT1{
        display: flex;
        z-index: 3;
    }  
    .ff1{
        display: flex;
        margin-top: 25px;
        margin-left: 5%;
        position: absolute;
        position: fixed;
    }
    .VT1{
        
        font-size: 20px;
        font-weight: bold;
        padding-left: 18px;
        color: #233869;
        width: 181px;
        font-weight: bold;
        z-index: 2;
    }
    .logo1{
        max-width: 52px;
        max-height: 71px;
        padding: 0;
        z-index: 2;
    }
    .img{margin-left: 0;}
    
/* ---------- */
    a{
        font-size: 20px;
        text-align: center;
    }


}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb {
   background: #732F48; border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
    background: none; 
}

@media (max-width: 1000px){
    .pair{
        flex-wrap: wrap;

    }
    .linia{
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }
    .img{
        justify-content: center
    }
    .text{
        display: flex;
    }
}

@media (max-width: 645px){
    .krug1{
        margin-left: 2%;
    }
    .strel{
        margin-top: 80vh;
    }
    


}
@media (max-width: 1103px){
    .krug1{
        margin-left: auto;
        margin-right: auto;
    }
    .pair2{
        flex-wrap: nowrap;
        display: block;
    }
    .fun{
        margin-right: 0px;
        justify-content: center;
        margin-top: 100px;
       
    }

}
.fade {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .fade.show {
    opacity: 1;
  }
  .NEW11{
    color: #FF0000;
    font-size: 24px;
    display: flex;
    font-weight: bold;
    
  }